/*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

li {
  display: inline;
  border: 1px solid #ccc;
}
*/

.column {
  float: left;
  width: 32%;
  margin-bottom: 16px;
  padding: 0 8px;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px 5px 5px 5px;
}

#arsenal-card {
  background-color: #9C3029;
}

#pats-card{
  background-color: #8494A2;
}

#celtic-card{
  background-color: #136D3D;
}

.container {
  padding: 0 16px
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  border-radius: 5px 5px 0px 0px;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: black;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
}

.button:hover {
  background-color: #555;
}

h1, h2, h3, p, a {
  font-weight: bold;
  font-family: "Verdana", Sans-serif;
}

.tab {
  overflow: hidden;
  background-color: #ECECEC;
}

.tab a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
}

.tab a:hover {
  background-color: #555;
}

.tab a.home-active {
  background-color: #555;
  color: black;
}

.tab a.celtics-active {
  background-color: #136D3D;
  color: black;
}

.tab a.patriots-active {
  background-color: #8494A2;
  color: black;
}

.tab a.arsenal-active {
  background-color: #9C3029;
  color: black;
}

tr#bos-row {
  background-color: #136D3D;
}
tr#ars-row {
  background-color: #9C3029;
}
tr#pat-row {
  background-color: #8494A2;
}

th{
  /*background-color: #9C3029;*/
  font-weight: bold;
  font-family: "Verdana", Sans-serif;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 12px;
}
td {
  text-align: center;
  font-family: "Verdana", Sans-serif;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 12px;
}



table {
  border-collapse: collapse;
  border-color: black;
}

ul {
  font-family: "Verdana", Sans-serif;
}
